/* estilos generales */
body{
    font-family: "Arvo", serif;
    margin: 0;
    background-image: url("imagenes/fondo.png");
    background-size: cover;
    color: black;
    line-height: 1.6;
}

/* encabezado */
header{
    background-color: black;
    padding: 15px;
}

/* menu de navegacion */
.menu ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 25px;
    margin: 0;
    padding: 0;
}

/* los links */
.menu a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: 0.3s;
}

/* clickeo de mouse */
.menu a:hover{
    color: red;
    letter-spacing: 1px;
}

/* principal */
main{
    width: 80%;
    margin: 40px auto;
    background-color: rgba(255,255,255,0.92);
    padding: 30px;
    border-radius: 12px;
}


/* titulos */
h1{
    text-align: center;
    font-size: 38px;
}

h2{
    color: darkred;
}

/* secciones */
section{
    margin-bottom: 30px;
}

/* imagen */
img{
    width: 100%;
    max-width: 800px;
    display: block;
    margin: auto;
    border-radius: 10px;
}

/* cita */
aside{
    background-color: gray;
    color: white;
    padding: 15px;
    margin: 30px;
    text-align: center;
    font-style: italic;
}
.galeria{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.galeria img{
    width: 300px;
    margin: 15px;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}

footer a{
    color: white;
    text-decoration: none;
}

footer a:hover{
    color: red;
}